<!DOCTYPE html>
<html>
    <head><title>Dashboard </title>
    <link rel="stylesheet" href="new.css"></head>
    <body class="bgcolor">
        <br>
        <div class="navbar" ><h1 > Welcome  </h1></div>
        <div class="side-menu" style="background-color: blueviolet;" >
            <h3 >Menu</h3>
            </div> 
            
        <div class="side-menu2">
            
            <div >
                <h3>Detect disease</h3>
            </div> 
            <hr>
            <div >
                <h3>Search about Disease</h3>
            </div> 
        </div>
    </body>

</html>